
  	<!-- CONTENT -->
		<div class="row m-3">
			<div class="col-sm-12">
				<h1>Fiche utilisateur : </h1>
			</div>
			<div class="row m-3">
				<div class="col-sm-12">
					<div class="card" >
					  <div class="card-body">
					    <h5 class="card-title"><i class="fas fa-user-secret"></i> <%=@user.first_name %> <%=@user.last_name %>, <%=@user.age %> ans</h5>
					    <h6 class="card-subtitle mb-2 text-muted"><%=@user.email %></h6>
					    <p class="card-text"><%=@user.description %></p>
					    <p class="card-text"><small class="text-muted"><%= @user_signin_date%></small></p>
					  </div>
					</div>

					 <%= link_to "Revenir à la liste des potins", root_path, class: "badge badge-primary" %>
				</div>

			</div>

		</div>

